page-login {

	.bg{
	
		background-image: url("../assets/img/3greyslatesilverpot.jpg");
		background-position: center bottom;
  	height:100%;
	
  	background-repeat: no-repeat;
  	background-attachment:fixed;
  }
  
  object {
 		width: 330px;
 		padding-top: 5%;
  }
  
  ion-item:first-child {
  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
  }
  ion-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ion-item.item {
    background-color: rgba(255, 255, 255, 0.4);
    
    border-radius: 30px !important;
     padding-left: 30px !important;
    .label {
      width: 10%;
      color: rgba(0, 0, 0, 0.6);
      font-size: 1.2em;
    }
  }
  
}	


